:root {
  --backgrond: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
}

body {
  background-color: var(--backgrond);
  color: var(--text-color);
  font-family: 'DM Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.cabecalho {
  border: solid 10px white;
}

li {
  display: inline-block;
  padding: 10px;
}

button {
  float: inline-end;
  color: white;
  background-color: #000;
  border: #8257e5 solid 2px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}
