* {
    margin: 0;
    font-size: 16px;
}


body {
    background-color: #000;
    background-image: url(/coisas/rocketNews/assets/read_news.jpg);
    background-repeat: no-repeat;
    background-size: 1112px 100vh;
    background-position-x: right;
}

p {
   color: #A8A8A8;
}

span {
    color: #A8A8A8;
}


.container {
    margin-top: 50px;
    margin-left: 30px;
}

.logo {
    width: 400px;
}

.content {
    margin-top: 100px;
    color: #FFFFFF;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.7rem;
    padding-top: 1rem;
    max-width: 700px;
}

.h1__text {
    color: #08C05E;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.9rem;
    padding-bottom: 1rem;
}

.forms {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.form__label {
    color: #A8A8A8;
    font-weight: 400;
    font-family: 'League Spartan', sans-serif;
}

.form__email {
    width: 50vw;
    height: 2.5rem;
}

.send__button {
    height: 2.9rem;
    
    color: white;
    background-color: #8257E5;
}

.form__a {
    color: #8257E5;
    font-family: 'League Spartan', sans-serif;
}

.email__box{
    display: flex;
    flex-direction: row;
}