:root {
    --black: #4D4C59;
    --purple: #6C63FF;
      --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
  }

  body {
    font-family: 'Poppins', sans-serif;
    background-image: url(/coisas/Countdown/assets/img/background.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-y: 100px;
    background-position-x: right;
  }

  footer {
    background-image: url(/coisas/Countdown/assets/img/bottom.svg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }

h2 {
    color: #6C63FF;
    font-size: 46px;
    font-weight: 500;
}

p {
    color: var(--light-grey);
    font-size: 14px;
    font-weight: 300;
}

span {
    color: var(--black);
    font-size: 76px;
    font-weight: 400;
}

.numbers p {
  font-size: 56px;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin-left: 250px;
  margin-top: 250px;
}

.text {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;

}

.numbers {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


.forms {
    color: var(--text-color);
}

