:root {
    --black: #4D4C59;
    --purple: #6C63FF;
      --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

  header {
    background-image: url(/coisas/Countdown/assets/img/top-image.svg);
  }

h2 {
    color: #6C63FF;
    font-size: 36px;
    font-weight: 500;
}

p {
    color: var(--light-grey);
    font-size: 14px;
    font-weight: 300;
}

span {
    color: var(--black);
    font-size: 72px;
    font-weight: 400;
    padding-top: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.texto__contagem {
  gap: 4rem;
  display: inline-flex;
  margin-left: 10px;
}

.numeros {
  gap: 2rem;
  display: inline-flex;
}



.forms {
    color: var(--text-color);
}
